@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
body{
    background-color: black;
}

/* shared styles */
.btn-primary{
     padding: 16px 40px;
     border: 1px solid white;
     border-radius: 42px;
     color: white;
     font-size: 18PX;
     line-height: 22px;
     font-weight: 600;
     margin-left: 14px;
}

/* style heading */
.nav-container{
    width: 74%;
    margin: 0 auto;
    padding-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text{
    color: rgba(230, 83, 60, 1);
    font-size: 2.25rem;
    font-weight: 900;
}
.nav-links{
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.nav-links ul{
    display: flex;
    list-style: none;
    gap: 3rem;
    text-align: center;
}

.nav-links ul li{
    padding: 4px;
}

.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}

.Home{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 2.8rem;
    padding: 8px 20px;
}
.menu{
    display: none;
}

/* hero section styles */
.hero{
    width: 74%;
    margin: 96px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-description{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.hero-description h1{
    font-size: 4.88rem;
    color: #fff;
    font-weight: 800;
    line-height: 120%;
}

.hero-description p{
    color: rgba(255, 255, 255, 0.50);
    letter-spacing: 0.5px;
    line-height: 24px;
}
.hero-image-container{
    position: relative;
}
.first{
    background: #E6533C;
}
.second{
    background: transparent;
}

.card-1{
    display: flex;
    width: 206px;
    height: 96px;
    /* margin-top: -170px; */
    /* margin-right: -1000px; */
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.37);
    backdrop-filter: blur(5px);
    position: absolute;
    bottom: 63px;
    left: -113px;
}
.card-2{
    display: flex;
    flex-direction: column;
    width: 206px;
    height: 96px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.37);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 142px;
    right: -74px;
}
.circle{
    height: 40px;
    width: 40px;
    border: 2px solid red;
    border-radius: 20px;
    background-color: rgba(230, 83, 60, 1);
}
.card-1-text h1, .card-2 h1{
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.3px;
    color: #FAFAF9;
}

.card-1-text p, .card-2 p{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(239, 237, 232, 0.65);
}

/* change your havit section start */
.change-havit-section{
    width: 72.2%;
    margin: 100px auto;
}
.havit-description{
    text-align: center;
}
.havit-description h1{
    font-size: 3rem;
    color: #fff;
    font-weight: 900;
}
.havit-description p{
    font-size: 0.82rem;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.3px;
    margin-top: 14px;
    margin-bottom: 58px;
}
.card-container{
    display: flex;
    text-align: center;
}
.card img{
    width: 272px;
    border-radius: 136px;
    border: 3px solid rgb(48, 47, 47);
}
.card h2{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 6px;
}
.card p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 0.88rem;
    letter-spacing: 0.3px;
}

/* Run an Extra Mile Easily section start */
.run-section{
    padding: 30px 32px 29px 54px;
    background: #222222;
    width: 72.2%;
    border-radius: 18px;
    margin: 0 auto;
}
.run-container{
    display: flex;
    justify-content: space-between;
}
.run-image img{
    height: 312px;
    width: 366px;
    border-radius: 18px;
    object-fit: cover;
}
.run-description h1, .BMI-heading h1{
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    line-height: 57.6px;
}
.run-description p, .BMI-heading p, .BMI-calculation p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 1.125rem;
    letter-spacing: 0.3px;
    line-height: 24px;
    margin-top: 14px;
}
.btn-custom{
    padding: 16px 40px;
    border-radius: 42px;
    background: #E6533C;
    font-size: 1.125rem;
    font-weight: 600;
    color: #fff;
    margin-top: 34px;
    width: 224px;
}
/* BMI calculator heading section */
.BMI-heading{
    width: 46.6%;
    margin: 80px auto;
}
/* BMI Calculator Main Section */
.BMI-calculator{
    display: flex;
    background: #222;
}
.BMI-chart{
    margin-left: 187px;
}
.BMI-chart h1, .BMI-calculation h1{
    color: #fff;
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 33.6px;
    margin: 52px 0;
}
.BMI-calculation{
    margin-left: 674px;
}
.BMI-calculation h1{
    margin-bottom: 14px;
}
.BMI-table th, .BMI-table td{
    color: rgba(255, 255, 255, 0.50);
    border: 1px solid rgba(255, 255, 255, 0.10);
    font-size: 0.88rem;
    padding: 10px;
    text-align: center;
}
.BMI-table th{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
table{
    border-collapse: collapse;
    width: 300px;
}
.BMI-calculation p{
    margin-bottom: 34px;
}


.BMI-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    /* width: 320px; */
    padding: 8px;
    border-radius: 4px;
}

.BMI-input input, .BMI-input select {
    padding: 12px;
    background-color: #555;
    border: 1px solid #666;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
}

.BMI-input input:nth-child(1), .BMI-input input:nth-child(2) {
    grid-column: span 1;
}

.BMI-input input:nth-child(3), .BMI-input select:nth-child(4) {
    grid-column: span 1;
}

.BMI-input select:nth-child(5) {
    grid-column: span 2;
}

.BMI-input label {
    grid-column: span 2;
    margin-bottom: -8px; /* Adjusts the gap between label and select */
    color: #bbb;
}




@media screen and (max-width: 572px) {
    .BMI-heading, .run-section{
        width: 100%
    }
    .BMI-heading{
        width: 80%;
    }
    .card-container, .hero, .run-container, .BMI-calculator{
      flex-direction: column;
    }
    .hero{
       justify-content: space-around;
       width: 100%;
    }
    .hero-btn{
        display: flex;
        justify-content: space-evenly;
    }
    .btn-primary{
        padding: 16px 40px;
        width: fit-content;
   }
    .nav-container{
        width: calc(100% - 40px);
        padding: 56px 20px;
    }
    .nav-links{
        display: none;
    }
    .menu{
        color: white;
        display: block;
    }

    .card-1{
        width: 180px;
        height: 70px;
        bottom: 250px;
        left: 0px;
    }

    .card-2{
        top: 0px;
        right: 15px;
        width: 170px;
        height: 70px;
    }

    .hero-image-container{
        margin-top: 70px;
    }
    .card-container{
        justify-content: center;
        align-items: center;
    }
    .run-image img{
        height: auto;
        width: 100%;
        margin-top: 31px;
    }
    .BMI-chart{
        margin-left: 0;
    }
    .BMI-calculation{
        margin-left: 0;
    }

    /* responsive for BMI input field start */
    .BMI-input {
        display: flex;
        flex-direction: column;
    }
    /* responsive for BMI input field end */
}