@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.shape{
    font-family: 'Miama', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

body{
    background-color: black;
}

/* shared styles */
.btn-primary{
     padding: 16px 40px;
     border: 1px solid white;
     border-radius: 42px;
     color: white;
     font-size: 18PX;
     line-height: 22px;
     font-weight: 600;
     margin-left: 14px;
}

/* style heading */
.nav-container{
    width: 74%;
    margin: 0 auto;
    padding-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text{
    color: rgba(230, 83, 60, 1);
    font-size: 2.25rem;
    font-weight: 900;
}
.nav-links{
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.nav-links ul{
    display: flex;
    list-style: none;
    gap: 3rem;
    text-align: center;
}

.nav-links ul li{
    padding: 4px;
}

.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}

.Home{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 2.8rem;
    padding: 8px 20px;
}
.menu{
    display: none;
}

/* hero section styles */
.hero{
    width: 74%;
    margin: 96px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-description{
    display: flex;
    flex-direction: column;
}
.hero-description h1{
    font-size: 4.88rem;
    color: #fff;
    font-weight: 800;
    line-height: 120%;
    margin-bottom: 20px;
}

.hero-description p{
    color: rgba(255, 255, 255, 0.50);
    letter-spacing: 0.5px;
    line-height: 24px;
    margin-bottom: 20px;
}
.hero-image-container{
    position: relative;
}
.first{
    background: #E6533C;
}
.second{
    background: transparent;
}

.card-1{
    display: flex;
    width: 206px;
    height: 96px;
    /* margin-top: -170px; */
    /* margin-right: -1000px; */
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.37);
    backdrop-filter: blur(5px);
    position: absolute;
    bottom: 63px;
    left: -113px;
}
.card-2{
    display: flex;
    flex-direction: column;
    width: 206px;
    height: 96px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.37);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 142px;
    right: -74px;
}
.circle{
    height: 40px;
    width: 40px;
    border: 2px solid red;
    border-radius: 20px;
    background-color: rgba(230, 83, 60, 1);
}
.card-1-text h1, .card-2 h1{
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.3px;
    color: #FAFAF9;
}

.card-1-text p, .card-2 p{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(239, 237, 232, 0.65);
}

/* change your havit section start */
.change-havit-section{
    width: 72.2%;
    margin: 100px auto;
}
.havit-description{
    text-align: center;
}
.havit-description h1{
    font-size: 3rem;
    color: #fff;
    font-weight: 900;
}
.havit-description p{
    font-size: 0.82rem;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.3px;
    margin-top: 14px;
    margin-bottom: 58px;
}
.card-container{
    display: flex;
    text-align: center;
}
.card img{
    width: 272px;
    border-radius: 136px;
    border: 3px solid rgb(48, 47, 47);
}
.card h2{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 6px;
}
.card p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 0.88rem;
    letter-spacing: 0.3px;
}

/* Run an Extra Mile Easily section start */
.run-section{
    padding: 30px 32px 29px 54px;
    background: #222222;
    width: 72.2%;
    border-radius: 18px;
    margin: 0 auto;
}
.run-container{
    display: flex;
    justify-content: space-between;
}
.run-image img{
    height: 312px;
    width: 366px;
    border-radius: 18px;
    object-fit: cover;
}
.run-description h1, .BMI-heading h1, .team-heading h1, .BMR-heading h1{
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    line-height: 57.6px;
}
.run-description p, .BMI-heading p, .BMI-calculation p, .team-heading p, .BMR-heading p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 1.125rem;
    letter-spacing: 0.3px;
    line-height: 24px;
    margin-top: 14px;
}
.btn-custom{
    padding: 16px 40px;
    border-radius: 42px;
    background: #E6533C;
    font-size: 1.125rem;
    font-weight: 600;
    color: #fff;
    margin-top: 34px;
    width: 224px;
}
/* BMI calculator heading section */
.BMI-heading, .BMR-heading{
    width: 46.6%;
    margin: 80px auto;
}
/* BMI Calculator Main Section */
.BMI-calculator{
    display: flex;
    background: #222;
}
.BMI-chart{
    margin-left: 187px;
}
.BMI-chart h1, .BMI-calculation h1{
    color: #fff;
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 33.6px;
    margin: 52px 0;
}
.BMI-calculation{
    margin-left: 674px;
}
.BMI-calculation h1, BMR-heading{
    margin-bottom: 14px;
}
.BMI-table th, .BMI-table td{
    color: rgba(255, 255, 255, 0.50);
    border: 1px solid rgba(255, 255, 255, 0.10);
    font-size: 0.88rem;
    padding: 10px;
    text-align: center;
}
.BMI-table th{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.BMI-table{
    border-collapse: collapse;
    width: 300px;
}
.BMI-calculation p{
    margin-bottom: 34px;
}


.BMI-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    /* width: 320px; */
    padding: 8px;
    border-radius: 4px;
}

.BMI-input input, .BMI-input select {
    padding: 12px;
    background-color: #555;
    border: 1px solid #666;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
}

.BMI-input input:nth-child(1), .BMI-input input:nth-child(2) {
    grid-column: span 1;
}

.BMI-input input:nth-child(3), .BMI-input select:nth-child(4) {
    grid-column: span 1;
}

.BMI-input select:nth-child(5) {
    grid-column: span 2;
}

.BMI-input label {
    grid-column: span 2;
    margin-bottom: -8px; /* Adjusts the gap between label and select */
    color: #bbb;
}

/* BMR main section style start */
.BMR{
    background: #222;
}
.BMR-calculator-container{
    display: flex;
    justify-content: space-around;
}
.BMR-description h1{
    font-size: 1.75rem;
    font-weight: 900;
    color: #fff;
    margin-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    margin-left: 4rem;
}
.BMR-table{
    width: fit-content;
}
.BMR-calculation{
    margin-left: 0px;
}



/* meet our team section start */
.meet-team{
    width: 73.6%;
    margin: 0 auto;
}
.team-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 88px 0 58px 0;
    gap: 14px;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.25rem;
}
.team-image{
    height: 100%;
    position: relative;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
}
.team-image::after{
    background-color: black;
    content: '';
    opacity: 0.2;
    position: absolute;
    inset: 0;
}
.team-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.25rem;
}
.image-description{
    position: absolute;
    bottom: 1rem;
    left: 1.25rem;
}
.image-description h3{
color: #FFF;
font-size: 1.25rem;
font-weight: 900;
line-height: 120%;
}
.image-description p, .fitness p{
color: rgba(255, 255, 255, 0.50);
font-size: 1.25rem
font-weight: 400;
line-height: 120%;
margin-top: 0.25rem;
}

/* footer styling here */
footer{
    background: rgba(255, 255, 255, 0.10);
}
.fitness{
    margin-left: 2rem;
}
.fitness h1{
    font-size: 4.375rem;
    margin-left: 1.25rem;
}
.get-container{
    display: flex;
    gap: 9.5rem;
    margin-top: 6.4rem;
    margin-bottom: 4.5rem;
    margin-left: 2rem;
}
.get h1{
color: #FFF;
font-size: 2rem;
font-weight: 700;
line-height: 120%;
margin-bottom: 2rem;
}
.get p{
color: rgba(255, 255, 255, 0.50);
font-size: 1.5rem;
line-height: 120%;
margin-bottom: 1.25rem;
}
hr{
    width: 80%;
    color: rgba(255, 255, 255, 0.10);
    margin: 0 auto 2.5rem auto;
}
.copy-right{
color: rgba(255, 255, 255, 0.50);
font-size: 1.25rem;
line-height: 24px;
letter-spacing: 0.3px;
padding-bottom: 2.5rem;
display: flex;
align-items: center;
justify-content: center;
}






@media screen and (max-width: 572px) {
    .run-section{
        width: 95%
    }
    .BMI-calculator{
        width: 95%;
        margin: 0 auto;
    }
    .BMR-calculator-container {
        width: 95%;
        margin: 0 auto;
    }
    .run-section{
     padding: 0;
    }
    .BMI-heading, .BMR-heading{
        width: 80%;
    }
    .card-container, .hero, .run-container, .BMI-calculator, .get-container, .BMR-calculator-container{
      flex-direction: column;
    }
    .hero{
       justify-content: baseline;
       max-width: 90%;
       
    }
    .hero-btn{
        display: flex;
        justify-content: space-evenly;
    }
    .btn-primary{
        padding: 16px 40px;
        width: fit-content;
   }
    .nav-container{
        width: calc(100% - 40px);
        padding: 56px 20px;
    }
    .nav-links{
        display: none;
    }
    .menu{
        color: white;
        display: block;
    }

    .card-1{
        width: 11.25rem;
        height: 4.375rem;
        bottom: 15.625rem;
        left: -2rem;
    }

    .card-2{
        top: 0px;
        right: -1.5rem;
        width: 10.625rem;
        height: 4.375rem;
    }

    .hero-image-container{
        margin-top: 70px;
        max-width: 100%;
    }
    .card-container{
        justify-content: center;
        align-items: center;
    }
    .run-image img{
        height: auto;
        width: 100%;
        margin-top: 31px;
    }
    .BMI-chart{
        margin-left: 0;
    }
    .BMI-calculation{
        margin-left: 0;
    }

    /* responsive for BMI input field start */
    .BMI-input {
        display: flex;
        flex-direction: column;
    }
    /* responsive for BMI input field end */
    .meet-team{
        width: 95%;
    }
    .team-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .card-details{
        margin-bottom: 2rem;
    }
    .hero-description{
        max-width: 95%;
    }
    .hero-image-container img{
        max-width: 100%;
    }
    .btn-primary{
        padding: 8px 20px;
        border: 1px solid white;
        border-radius: 21px;
        color: white;
        font-size: 18PX;
        line-height: 22px;
        font-weight: 600;
        margin-left: 7px;
   }
    .hero-description h1{
        font-size: 3.5rem;
    }
}
