@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

/* shared styles */
.btn-primary{
     padding: 16px 40px;
     border: 1px solid white;
     border-radius: 42px;
     color: white;
     font-size: 18PX;
     line-height: 22px;
     font-weight: 600;
     margin-left: 14px;
}


/* style heading */
header{
    background-color: rgba(17, 17, 17, 0.993);
}


.nav-container{
    width: 74%;
    margin: 0 auto;
    padding-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text{
    color: rgba(230, 83, 60, 1);
    font-size: 2.25rem;
    font-weight: 900;
}

.nav-links ul{
    display: flex;
    list-style: none;
    gap: 3rem;
    text-align: center;
}

.nav-links ul li{
    padding: 4px;
}

.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}

.Home{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 2.8rem;
    padding: 8px 20px;
}
.menu{
    display: none;
}

/* hero section styles */
.hero{
    width: 74%;
    margin: 96px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-description{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.hero-description h1{
    font-size: 78px;
    color: #fff;
    font-weight: 800;
    line-height: 120%;
}

.hero-description p{
    color: rgba(255, 255, 255, 0.50);
    letter-spacing: 0.5px;
    line-height: 24px;
}

.first{
    background: #E6533C;
}
.second{
    background: transparent;
}


@media screen and (max-width: 572px) {
    .hero{
       flex-direction: column;
    }
    .nav-container{
        width: calc(100% - 40px);
        padding: 56px 20px;
    }
    .nav-links{
        display: none;
    }
    .menu{
        color: white;
        display: block;
    }
}